/* MEDIA QUERIES  */
/* MOBILE FIRST  */

.container {
    max-width: 100%;
} 

/* MOBILE  */
@media (max-width: 768px) {
    .hidden-title {
        display: none;
    }
}

/* TABLET  */
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0px 40px;
    }
    
    .nav-title {
        text-align: left;
    }

    .hero-card-list ul > li {
        display: inline-block;
    }
}


/* LARGE DEVICES  */
@media (min-width: 992px) {
    .container {
        padding: 0px 100px;
    }
    
    .nav-title {
        text-align: left;
    }

    .hero-img {
        height: 100%;
    }

    .hero-card {
        display: flex;
    }
}
