/* MEDIA QUERIES  */
/* MOBILE FIRST  */

.container {
    max-width: 100%;
} 

/* MOBILE  */
@media (max-width: 768px) {
    .hidden-title {
        display: none;
    }

    .social-name {
        display: none;
    }

    .banner, .banner-img {
        display: none;
    }
}

/* TABLET  */
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0px 40px;
    }
    
    .nav-title {
        text-align: left;
    }

    .hero-card-list ul > li {
        display: inline-block;
    }

    .presentation-img {
        width: 50%;
        float: left;
        padding: 20px 10px 10px 0px;
    }

}


/* LARGE DEVICES  */
@media (min-width: 992px) {
    .container {
        padding: 0px 100px;
    }
    
    .nav-title {
        text-align: left;
    }

    .hero-img {
        height: 100%;
    }

    .hero-card {
        display: flex;
    }

    .button {
        padding: 10px 20px;
        font-size: 12px;
        line-height: 24px;
    }

    .presentation-img {
        width: 50%;
        float: left;
        padding: 20px 10px 10px 0px;
    }
}
