/* MEDIA QUERIES  */
/* MOBILE FIRST  */

.container {
    max-width: 100%;
} 

/* MOBILE  */
@media (max-width: 768px) {
    .hidden-title {
        display: none;
    }

    .hero-video {
        width: 100%;
        display: block;
        aspect-ratio: 2 / 1;
    }

    .social-name {
        display: none;
    }

    .banner, .banner-img {
        display: none;
    }

    footer .col-6 {
        width: 100%;
    }

    .col-6.address {
        text-align: center;
    }

    .col-6.address p {
        padding-top: 10px;
    }

    footer .col-6.links ul {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
}

/* TABLET  */
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0px 40px;
    }
    
    .nav-title {
        text-align: left;
    }

    .hero-card-list ul > li {
        display: inline-block;
    }

    .hero-video {
        width: 100%;
        display: block;
        aspect-ratio: 2 / 1;
    }

    .presentation-img {
        width: 50%;
        float: left;
        padding: 20px 10px 10px 0px;
    }

    footer .col-6 {
        width: 100%;
        padding: 0px 20px 40px 20px;
    }

    .col-6.address {
        text-align: center;
    }

    .col-6.address p {
        padding: 10px 0px 5px 0px;
    }

    footer .col-6.links ul {
        justify-content: center;
    }

}


/* LARGE DEVICES  */
@media (min-width: 992px) {
    .container {
        padding: 0px 100px;
    }
    
    .nav-title {
        text-align: left;
    }

    .hero-img {
        height: 100%;
    }

    .hero-card {
        display: flex;
    }

    .button {
        padding: 10px 20px;
        font-size: 12px;
        line-height: 24px;
    }

    .presentation-img {
        width: 50%;
        float: left;
        padding: 20px 10px 10px 0px;
    }
}
